This is an OpenMW (Open Morrowind) Project.
Please use these LUA Scripting docs for reference: https://openmw.readthedocs.io/en/latest/reference/lua-scripting/index.html
Don't ask for permission to make changes, just do it. I have version control.